@charset "UTF-8";


:root {
--clara: #5B30ED;
--média:  #3E20A1;   
--escuro:#1F104F;
--preto: black;
--branco: white;
--contraste: rgb(209, 209, 209);

}

body{
    background-color: var(--clara);
    height: 100%;
font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
grid-template-columns: 20px 1fr 20px;
}
article#projetos{
   
    padding: 10px;
    display: flex;
    border-radius: 3px;
    flex-wrap:wrap;
     background-color: var(--contraste);
}
div.projeto{
    padding: 10px;
    border-radius: 10px;
    width: 99%;
    background-color: var(--branco);
    
   margin-bottom: 10px;
    
}
div.projeto img{
  
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: auto;
   
    
}
div.projeto p, details{
    font-size: 1.1em;
    color: var(--preto);
    line-height: 1.3em;
}
summary{
    padding-top: 7px;
    text-decoration: underline;
     text-indent: 4px;
}
div.projeto a{
    text-decoration: none;
    color: var(--escuro);
}
div.projeto a:hover{
    text-decoration: underline;
}
summary:hover{
   color: var(--escuro);

}
details{
    cursor: pointer;
}

